*~
*.bak
*.cache
*.DS_Store
*.kate-swp
*.log
*.pyc
*.swp
*.swo
*.zip
**/.aws-sam/
**/.idea/
**/dist/
**/generatedIndexJsFiles/
**/log.txt
**/node_modules/
**/package-lock.json
.bash_history
.env*
.history/
.ipynb_checkpoints
.vscode/
Desktop
LauncherFolder
MyDocuments
